@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding&display=swap');

body{
    margin: 0;
    padding: 0;

    font-family: 'Nanum Gothic Coding', monospace;
}
.page{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#first-page{
    background-color: slateblue;
}

#second-page{
    display: none;
    background-color: slategray;   
}
#list{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 60vw;
    list-style: none;
}
#heading{
    padding-bottom: 100px;
}

.output{
    border-radius: 15%;
    border-color: slateblue;
    border-width: 4px;
    border-style: solid;
    
    width: 15vw;
    
}
.output h3{
    font-size: 1.4em;
}
.output * {
    text-align: center;
}
.history{
    margin-top: 80px;
    padding-bottom: 5vh;
    width: 50vw;
    height: auto;

    text-align: center;

    border-radius: 15%;
    border-color: slateblue;
    border-width: 4px;
    border-style: solid;
    
}
.history h3{
    padding-left: 6vw;
}

#table-column th{
    width: 15vw;
}

